body, html {
  height: 100%;
  margin: 0;
}
nav {
  float: left;
  background-color: black;
  width: 20%;
  height: 100%;
  color: white;
}
table{
  width: 100%;
  text-align: left;
}

input[type=number] {
  width: 20px;
}
#percent1, #percent2 {
  width:35px;
}

#editStars {
  width: 40px;
}

.users:hover {
  background-color: grey;
  cursor: pointer;
}
content {
  float: left;
  width: 80%;
}
p, h1 {
  padding-left: 5px;
}